{% extends 'base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <div class="container mx-auto">

        <h1 class="text-xl font-bold mb-4">Expenses</h1>

        <a href="{{ path('expenses_add') }}"
           class="my-8 inline-block w-auto bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Add
            New Expense
        </a>

        <div class="table-container">
            <table class="min-w-full leading-normal">
                <thead>
                <tr class="border-t">
                    <th class="table-header">ID</th>
                    <th class="table-header">Name</th>
                    <th class="table-header">Amount</th>
                    <th class="table-header">Date</th>
                    <th class="table-header">Payment Date</th>
                    <th class="table-header">Payment Status</th>
                    <th class="table-header">Category</th>
                </tr>
                </thead>
                <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td class="table-cell">{{ expense.id }}</td>
                        <td class="table-cell">{{ expense.name }}</td>
                        <td class="table-cell">{{ expense.amount }}</td>
                        <td class="table-cell">{{ expense.date|date('Y-m-d') }}</td>
                        <td class="table-cell">{{ expense.paymentDate ? expense.paymentDate|date('Y-m-d') : 'N/A' }}</td>
                        <td class="table-cell">{{ expense.paymentStatus }}</td>
                        <td class="table-cell">{{ expense.category.nameEnglish }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="table-cell">No expenses found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
