{% extends 'base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h1 class="text-xl font-bold mb-4">Expenses</h1>

        <a href="{{ path('expenses_add') }}"
           class="my-8 inline-block w-auto bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
            Add New Expense
        </a>

        <div class="table-container">
            <table class="min-w-full leading-normal">
                <thead>
                <tr class="border-t">
                    {% set headers = ['ID', 'Name', 'Cost', 'Date', 'Payment Date', 'Category', 'Status'] %}
                    {% for header in headers %}
                        <th class="table-header">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for expense in expenses %}
                    <tr id="expense-{{ expense.id }}">
                        {% set fields = {
                            id: expense.id,
                            name: expense.name,
                            amount: expense.amount,
                            date: expense.date|date('Y-m-d'),
                            paymentDate: expense.paymentDate ? expense.paymentDate|date('Y-m-d') : 'N/A',
                            category: expense.category.nameEnglish
                        } %}
                        {% for key, value in fields %}
                            <td class="table-cell"{% if key == 'paymentDate' %} data-key="paymentDate"{% endif %}>
                                {{ value }}
                            </td>
                        {% endfor %}
                        <td class="table-cell status-cell cursor-pointer relative" data-id="{{ expense.id }}">
                            <span class="status-text hover:text-shadow
                                {% if expense.paymentStatus == 'unpaid'%} text-red-500 {% endif %}
                                {% if expense.paymentStatus == 'paid'%} text-green-600 {% endif %}
                            ">
                                {{ expense.paymentStatus|capitalize }}
                            </span>
                            <select class="status-select absolute right-2 top-2 p-1 hidden w-full cursor-pointer">
                                {% set statuses = ['unpaid', 'paid'] %}
                                {% for status in statuses %}
                                    <option value="{{ status }}" {% if expense.paymentStatus == status %}selected{% endif %}>
                                        {{ status|capitalize }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ headers|length }}" class="table-cell">No expenses found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/expenses_index.js') }}"></script>
{% endblock %}
